@* this will also be used as page title in main layout *@
@{ ViewData["title"] = "Namai"; }
<h1>Sveiki atvykę i Kompiuteriu parduotuve. Norint užsisakyti naują kompiuterį spauskite <a href="/Uzsakymas">čia!</a></h1>

